<html>
    <head>
    </head>
    <body>
        <h1 style="text-align: center;">
            Welcome to Goa Central Library
        </h1>
        <hr>
    </body>

    <h3>Available URL's</h3>
    <div class="sample-url" style="font-size: 20px;">
        <p></p>
        <h4>For Searching the Library</h4>
    <ul>
        <li>/search</li>
        <ul>
            <li>Where authorname is a string</li>
        </ul><br>


        <li>/search</li>
        <ul>
            <li>Where book_title is a string</li>
        </ul><br>



        <li>/search</li>
        <ul>
            <li>Where ISBN is a string</li>
        </ul><br>
    </ul>
    <h4>For Borrowing a book</h4>
<ul>
        <li>/borrowbook</li>
        <ul>
            <li>Where std_id is a student ID</li>
            <li>Where ISBN is a string</li>
        </ul><br>
    </ul>
    <h4>For returning a book</h4>
<ul>
     <li>/checkreturn</li>
        <ul>
            <li>Where std_id is a student ID</li>
        </ul><br>

        <li>/return</li>
        <ul>
            <li>Where std_id is a student ID</li>
           <li>Where bk_id is Book ID</li>
        </ul><br>
    </ul>

</div>
</html>