<html>
   <body>
      <form action = "/books/author" method = "POST">
         <p>Author Name <input type = "text" name = "Name" /></p>
         <p><input type = "submit" value = "Find By Author Name" /></p>
      </form>

      <form action = "/books/title" method = "POST">
        <p>Title Name <input type = "text" name = "Name" /></p>
        <p><input type = "submit" value = "Find By Title" /></p>
     </form>

     <form action = "/books/isbn" method = "POST">
        <p>ISBN <input type = "text" name = "Name" /></p>
        <p><input type = "submit" value = "Find By ISBN" /></p>
     </form>
   </body>
</html>